@import "./fonts.css";

* {
	padding: 0;
	margin: 0;
	border: 0;
}

/***  get-a-quote  ***/

.wrapper-additional {
  display: flex;
  width: 1020px;
  margin: 0 auto;
  flex-direction: column;
  align-content: center;
  align-items: center;  
}

.get-a-quote__head {
  display: flex;
  width: 1020px;  
  height: 648px;  
  flex-direction: column;
  align-content: center;
  align-items: flex-start;  
  background-color: #f06c64;
} 

.get-a-quote__title {
  position: relative;
  top: 68px;
  left: 40px;
}

.h2 {
  font-size: 30px;
  line-height: 18px;
  color: #f0d8d9;
  font-family: "Lato-Black";
  font-weight: 900;
  text-align: left;
}

.get-a-quote__description {
  position: relative;
  top: 95px;
  left: 40px;
}

.get-a-quote__description-text {
  width: 940px;
  height: 57px;
  font-size: 18px;
  line-height: 30px;
  color: #f0d8d9;
  font-family: "Lato-Light";
  font-weight: 300;
  text-align: left;
  overflow: hidden;
  text-overflow: clip;
}

.get-a-quote__feedback {
  display: flex;
  width: 940px;
  position: relative;
  top: 142px;
  left: 40px;
  justify-content: space-between; 
}

.feedback-form {
  display: flex;
  width: 619px;
  height: 418px;
  flex-direction: column;
  align-content: center;
  align-items: left;
  justify-content: space-between;
}

.form-input {
  width: 604px;
  height: 38px;
  padding-left: 15px;  
  border-radius: 5px;
  background-color: #d6564f;
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-family: "Lato-Regular";
  font-weight: 400;
  text-align: left;
}

.form-input::placeholder {
  color: #f48c8f;
}

.feedback-form__textarea {  
  width: 604px;
  height: 195px;
  padding-top: 7px;
  padding-left: 15px;
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-family: "Lato-Regular";
  font-weight: 400;
  text-align: left;
  border-radius: 5px;
  background-color: #d6564f;
  resize: none;
}

.feedback-form__textarea::placeholder {
  color: #f48c8f;
}

.feedback-form__submit {
  width: 65px;
}


.contact-information {
  display: flex;
  width: 300px;
  flex-direction: column;
  align-content: center;
  align-items: left;
}

.contact-information__title-text {
  font-size: 18px;
  line-height: 18px;
  color: #f0d8d9;
  font-family: "Lato-Black";
  font-weight: 900;
  text-align: left;
}

.contact-information__description {
  position: relative;
  top: 10px;  
  width: 300px;
  height: 110px;
}

.contact-information__description-text {  
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato-Regular";
  font-weight: 400;
  text-align: left;
}

.contact-data {
  display: flex;
  height: 55px; 
  flex-direction: column;
  align-content: center;
  align-items: left;
  justify-content: space-between;
}

.contact-data__item {
  display: flex;
}

.contact-data__icon {
  width: 13px;
  height: 11px;
  position: relative;
  top: 13px;
  background-repeat: no-repeat;
  background-position: center;
}

.contact-data-address {
  background-image: url("./assets/img/icon/location_icon.svg");
}

.contact-data__info {
  position: relative;
  left: 11px 
}

.contact-data__info-address { 
  top: 8px;  
}

.contact-data__info-phone { 
  top: 7px;  
}

.contact-data__info-email {
  top: 7px; 
}

a {
  text-decoration: none;
  color: #f0d8d9;
}

.contact-data__info-text {
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato-Regular";
  font-weight: 400;
  text-align: left;
}

.contact-data-phone {
  background-image: url("./assets/img/icon/phone_icon.svg");
}

.contact-data-email {
  background-image: url("./assets/img/icon/email_icon.svg");
}

.get-a-quote__bottom {
  background-color: #ea676b;
}

.block-bottom {
  width: 1020px;
  height: 6px;
}

/***  footer  ***/

.footer-wrapper{
  display: flex;
  flex-direction: row;
  height: 76px;
  justify-content: space-between;
  background-color: #2d303a;
}

.footer__copyright {
  margin-left: 42px; 
}

.footer__copyright-text {
  font-size: 12px;
  line-height: 22px;
  color: #666d89;
  font-family: "Lato-Regular";
  font-weight: 400;
  text-align: left;
}

.footer__social-contacts {
  display: flex;
  width: 152px;
  height: 32px;
  margin-right: 41px;
  align-content: center;
  align-items: left;
  justify-content: space-between;
}

.social-contact-item {
  width: 34px;
  height: 34px;
  position: relative;
  top: -1px;
}

.footer__facebook {   
  background-image: url("./assets/img/icon/facebook.svg");
}

.footer__google { 
  left: 1px;
  background-image: url("./assets/img/icon/Google.svg");
}

.footer__twitter {  
  left: 2px;
  background-image: url("./assets/img/icon/Twitter.svg");
}

.footer__linkedin { 
  left: 3px;
  background-image: url("./assets/img/icon/LinkedIn.svg");
}

.social-contact-item:hover {
  cursor: pointer;  
  opacity: 0.5;
}
