@import "./fonts.css";

* {
	padding: 0;
	margin: 0;
	border: 0;
}

.wrapper {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

/***  header  ***/
.header {
  width: 1020px;
}

.header__head {
  
  height: 89px;
  background-color: #2d303a;
  display: flex;
}

.h1 {
  width: 1px;
  height: 1px;
  font-size: 1px;
  color: #2d303a;
}
  
.logo {
  font-size: 25px;
  line-height: 6px;  
  font-family: "Lato-Bold";
  font-weight: 700;
  text-transform: uppercase;
}

.logo-text {
  position: relative;
  margin-left: 37px;
  margin-top: 40px;
  color: #ffffff;
}

.logo-text:hover {
  cursor: pointer;
}


.asterisk {
  color: #f06c64;
}

.navigation {
  padding-left: 436px;
  padding-top: 32px;
}

.main-menu {
  display: flex;
  padding: 15px;
  font-size: 12px;
  line-height: 6px;
  color: #f06c64;
  font-family: "Lato-Bold";
  font-weight: 700;
  text-transform: uppercase;
}

li {  
  list-style-type: none;
  display: flex;
}

.point {
  width: 3px;
  height: 3px;
  margin: 3px 13px ;
  border-radius: 50%;
  background-color: #494e62;
}

a { 
  text-decoration: none;
  color: #ffffff;
}

.link-home {
  color: #f06c64;
}

a:active { 
  text-decoration: none;
}

a:hover {
  text-decoration: underline; 
  color: #f06c64;
}

.header__bottom {
  /* width: 1020px; */
  height: 6px;
  background-color: #323746;
}

.slider {
  width: 1020px;
  height: 600px;
  background-color: #f06c64;
}

.services {
  width: 1020px;
  height: 495px;
  background-color: #f2f2f2;
}

/***  slider  ***/

.slider {
  display: flex;
}

.arrow {
  width: 16px;
  height: 27px;
  margin-top: 281px;  
  background-image: url("./assets/img/pictures/chev.png");
}

.arrow:hover {
  cursor: pointer;
  opacity: 0.5;
}

.arrow_left {
  margin-left: 42px;
}

.phone {
  width: 218px;
  height: 461px;
  z-index: 100;
  background-image: url("./assets/img/pictures/cam.png");
}

.phone_vertical {
  margin-top: 52px;
  margin-left: 52px;   
}

.slider__frame {
  width: 188px;
  height: 333px;
  position:relative;
  overflow:hidden;
}

.vertical-frame {  
  top: 66px;
  left: 16px; 
}

.img-vertical-screen {
  position:relative;
  top: -135px;
  left: -14px;
}

.phone-shadow {
  width: 240px;
  height: 483px;
  z-index: 50;
  position:relative;  
  background-image: url("./assets/img/pictures/phone-shadow.png");
}

.phone-shadow_vertical {
  top: 53px;
  left: -216px;
}

.phone_horizontal {
  margin-top: 50px;
  margin-left: -24px;  
  transform: rotate(90deg);
}

.horizontal-frame {
  top: 66px;
  left: 16px;
}

.img-horizontal-screen {
  position:relative;
  top: -122px;
  left: -118px;
  transform: rotate(-90deg);
}

.phone-shadow_horizontal {
  top: 53px;
  left: -216px;
  transform: scale(1, -1) rotate(90deg);
}

.arrow_right {
  margin-left: -38px;
  transform: rotate(180deg);
}