@import "./fonts.css";

html {
  scroll-behavior: smooth;
}

* {
	padding: 0;
	margin: 0;
	border: 0;
}

.wrapper {
  display: flex;
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
  flex-direction: column;  
}

/***  header  ***/

.header__head {
  display: flex;
  width: 100vw;
  max-width: 1020px;  
  height: 89px;
  position: fixed;
  justify-content: space-between;
  background-color: #2d303a;
  z-index: 1000 ;  
}

.h1 {
  width: 1px;
  height: 1px;
  font-size: 1px;
  color: #2d303a;
}
  
.logo {
  font-size: 25px;
  line-height: 6px;  
  font-family: "Lato-Bold";
  font-weight: 700;
  text-transform: uppercase;
}

.logo-text {
  position: relative;
  margin-left: 37px;
  margin-top: 40px;
  color: #ffffff;
}

.logo-text:hover {
  cursor: pointer;
}

.asterisk {
  color: #f06c64;
}

.navigation {  
  padding-top: 32px;
}

.main-menu {
  display: flex;
  padding: 15px;
  font-size: 12px;
  line-height: 6px; 
  font-family: "Lato-Bold";
  font-weight: 700;
  text-transform: uppercase;
}

li {  
  list-style-type: none;
  display: flex;
}

a { 
  text-decoration: none;
  animation: 1s;
}

.point {
  width: 3px;
  height: 3px;
  margin: 3px 13px ;
  border-radius: 50%;
  background-color: #494e62;  
}

.main-menu__link_selected {
  color: #f06c64;
}

.main-menu__link_unselected {
  color: #ffffff;
}

a:hover {
  text-decoration: underline; 
  color: #f06c64;
}

.header__head-fake { 
  width: 100%;
  max-width: 1020px;  
  height: 89px;   
}

.header__bottom {  
  background-color: #323746;
}

.block-bottom {
  width: 100%;
  max-width: 1020px;
  height: 6px;
}

/***  slider  ***/

.slider .wrapper{
  position: relative;
  height: 59vw; 
  max-height: 600px;
  overflow: hidden;
}

.wrapperSlider {
  overflow: hidden;
}

.slider__head {
  display: none;
  width: 100%;
  max-width: 1020px;
  height: 59vw;
  max-height: 594px; 
  position: relative;
  animation: 0.2s ease-in-out;
  margin: 0 auto;
  overflow: hidden;
}

.slider__slide-first {
  background-color: #ea676b;
}

.slider__slide-second {
  background-image: url("./assets/img/pictures/bg-slider-2.png");
}

.active,
.next {
  display: flex;
  overflow: hidden;
}

.next {
  position: absolute;
  width: 100%;
  overflow: hidden;
}

.arrow {
  position: absolute;
  width: 16px;
  height: 27px;
  top: calc((100% - 27px)/2);  
  cursor: pointer;
  background-image: url("./assets/img/pictures/chev.png");
}

.arrow:hover {
  cursor: pointer;
  opacity: 0.5;
}

.arrow_left {
  left: 4%;  
}

.arrow_right {
  right: 4%;  
}

.to-left {
  animation-name: left;
}

.from-right {
  animation-name: right;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

.phone {
  max-width: 218px;
  max-height: 461px;
  width: 22vw;
  height: 46vw; 
  z-index: 100;
  background-image: url("./assets/img/pictures/cam.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.phone_vertical {
  position: relative;
  left: 12%;
  top: 10%;  
}

.slider__frame {
  max-width: 188px;
  max-height: 333px;
  width: 19vw;
  height: 33vw; 
  position: relative;
  overflow: hidden;
}

.vertical-frame {
  top: 14%;
  left: 7.8%; 
}

.img-vertical-screen {
  position: relative; 
  top: 0%;
  left: 0%;
  max-width: 580px;
  max-height: 580px;
  width: 57vw;
  height: 57vw; 
}

.phone-shadow {
  max-width: 240px;
  max-height: 483px;
  width: 24vw;
  height: 48vw;  
  z-index: 50;
  position: relative;
  background-size: cover;  
  background-image: url("./assets/img/pictures/phone-shadow.png");
}

.phone-shadow_vertical {
  top: 10%;  
  right: 9%; 
}

.phone_horizontal {
  position: relative;
  left: 11%;
  top: 9%; 
  transform: rotate(90deg);
}

.horizontal-frame {
  top: 14%;
  left: 8%; 
}

.img-horizontal-screen {
  position: relative;
  bottom: 1%;
  left: 0%;
  width: 57vw;
  height: 57vw;
  max-width: 580px;
  max-height: 580px;  
  transform: rotate(-90deg);
}

.phone-shadow_horizontal {
  top: 10%;
  right: 10%; 
  transform: scale(1, -1) rotate(90deg);
}

.arrow_right {
  margin-left: -38px;
  transform: rotate(180deg);
}

.slider__bottom_first {
  background-color: #ea676b;
}

.slider__bottom_second {
  background-color: #648BF0;
}

.display-none {
  display: none;
};

/***  services  ***/

.wrapper_services {
  height: 500px;
}

.services__head {
  width: 100%;
  max-width: 1020px;
  height: 494px;
  display: flex;
  flex-direction: column;
  align-content:center;
  align-items: flex-start;
  background-color: #f2f2f2;
}

.services__title {
  position:relative;
  top: 68px;
  left: 40px;
}

.h2 {
  font-size: 30px;
  line-height: 18px; 
  font-family: "Lato-Black";
  font-weight: 900;
  text-align: left;
}

.services__h2 {
  color: #666d89;
}

.services__description {
  position:relative;
  top: 95px;
  left: 40px;
}

.services__description-text {
  width: 940px;
  height: 57px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato-Light";
  font-weight: 300;
  overflow: hidden;
  text-overflow: clip;
  text-align: justify;
}

.advantages-section {
  display: flex;
  width: 92%;
  position:relative;
  top: 143px;
  left: 41px;
  flex-wrap: wrap;
}

.advantage-box {
  display: flex;
  margin-top: 3%;
  margin-right: 1%;
 }

.advantage-box__icon {
  width: 59px;
  height: 59px;
  margin-top: 2px; 
}

.advantage-box__icon:hover {
  cursor: pointer;
  opacity: 0.5;
}

.advantage-box__title { 
  margin-left: 20px;  
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato-Black";
  font-weight: 900; 
}

.advantage-box__text {
  width: 219px;
  height: 60px;
  margin-top: 10px;
  margin-left: 20px; 
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato-Regular";
  font-weight: 400;
  overflow: hidden;
  text-overflow: clip;
  text-align: justify;
}

.icon_pen {  
  background-image: url("./assets/img/icon/1-bg-pen.svg");
}

.icon_phone {  
  background-image: url("./assets/img/icon/2-bg-phone.svg");
}

.icon_bulb {  
  background-image: url("./assets/img/icon/3-bg-bulb.svg");
}

.icon_bubble { 
  background-image: url("./assets/img/icon/4-bg-bubble.svg");
}

.icon_heart { 
  background-image: url("./assets/img/icon/5-bg-heart.svg");
}

.icon_star {  
  background-image: url("./assets/img/icon/6-bg-star.svg");
}

.advantages-column_center {
  margin-left: 21px;
}

.advantages-column_right {
  margin-left: 22px;
}

.services__bottom {
  background-color: #ffffff;
}

.portfolio__head {
  display: flex;
  width: 100%;
  max-width: 1020px;
  height: 100%; 
  padding-top: 68px;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
  background-color: #2d303a;
}

.portfolio__title {  
  padding: 0 40px;
}

.portfolio__h2,
.about-us__h2 {
  color: #666d89;
}

.portfolio__description {
  margin-top: 20px;
  padding: 0 40px; 
}

.portfolio__description-text {
  max-width: 940px;
  height: 57px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato-Light";
  font-weight: 300;
  overflow: hidden;
  text-overflow: clip;
  text-align: justify;
}

.portfolio__buttons {
  display: flex;
  width: 287px;
  height: 22px;  
  padding: 0 38px;  
  justify-content: space-between; 
}

.button {  
  padding-left: 7px;
  padding-right: 6px; 
  font-size: 12px;
  line-height: 20px;
  color: #767e9e;
  font-family: "Lato-Regular";
  font-weight: 400;    
  background-color: #2d303a;
  border: 1px solid #767e9e;
  border-radius: 5px;
}

.button-selected {    
  color: #c5c5c5;
  border: 1px solid #c5c5c5;
}

.button:hover {
  cursor: pointer;  
  color: #c5c5c5;
  border: 1px solid #c5c5c5;
}

.button:focus {
  outline: 0;
}

.portfolio__work-examples {  
  display: flex;
  flex-wrap: wrap;
  margin-top: 29px;
  padding: 0 40px; 
  justify-content: space-between;
  overflow: hidden;
}



.portfolio__column-item {
  width: 10vw; 
  overflow: hidden;
  margin: 6px 20px 10px 0px;
  flex: 1 0 20%; 
  background-repeat: no-repeat;
}

.portfolio__column-item:nth-child(4n){
  margin: 6px 0px 10px 0px; 
}

.portfolio__column-item:nth-child(n+13){
  display: none;
}

.portfolio__column-item:before {  
  content: '';
  float: left;
  padding-top: 87%;
}

.portfolio__column-item_selected {  
  border: 5px solid#F06C64;
  width: 210px;
  height: 177px;
}

.img-1 {
  background-image: url("./assets/img/pictures/1-first-column-first-item.png");
}

.img-2 {
  background-image: url("./assets/img/pictures/2-first-column-second-item.png");
}

.img-3 {
  background-image: url("./assets/img/pictures/3-first-column-third-item.png");
}

.img-4 {
  background-image: url("./assets/img/pictures/4-second-column-first-item.png");
}

.img-5 {  
}

.first-column-first-item {
  background-position-x: -8px;
  background-position-y: -11px; 
  background-image: url("./assets/img/pictures/1-first-column-first-item.png");
}

.first-column-second-item {
  background-position-x: -10px;
  background-position-y: -16px;
  background-image: url("./assets/img/pictures/2-first-column-second-item.png");
}

.first-column-third-item {
  background-position-x: -16px;
  background-position-y: -2px;
  background-image: url("./assets/img/pictures/3-first-column-third-item.png");
}

.second-column-first-item {
  background-position-x: -82px;
  background-position-y: -43px;
  background-image: url("./assets/img/pictures/4-second-column-first-item.png");
}

.second-column-second-item {
  background-position-x: -16px;
  background-position-y: -4px;
  background-image: url("./assets/img/pictures/5-second-column-second-item.png");
}

.second-column-third-item {
  background-position-x: -141px;
  background-position-y: -113px;
  background-image: url("./assets/img/pictures/6-second-column-third-item.png");
}

.third-column-first-item {
  background-position-x: -11px;
  background-position-y: -1px;
  background-image: url("./assets/img/pictures/7-third-column-first-item.png");
}

.third-column-second-item {
  background-position-x: -31px;
  background-position-y: -39px;
  background-image: url("./assets/img/pictures/8-third-column-second-item.png");
}

.third-column-third-item {
  background-position-x: -86px;
  background-position-y: -160px;  
  background-image: url("./assets/img/pictures/9-third-column-third-item.png");
}

.fours-column-first-item {
  background-position-x: -24px;
  background-position-y: -2px;
  background-image: url("./assets/img/pictures/10-fours-column-first-item.png");
}

.fours-column-second-item {
  background-position-x: -24px;
  background-position-y: -32px;  
  background-image: url("./assets/img/pictures/11-fours-column-second-item.png");
}

.fours-column-third-item {
  background-position-x: -36px;
  background-position-y: -60px; 
  background-image: url("./assets/img/pictures/12-fours-column-third-item.png");
}

.portfolio__bottom {  
  background-color: #323746;
}

.block-bottom {
  width: 100%;
  max-width: 1020px;
  height: 6px;
}

/***  about-us  ***/

.about-us__head {
  display: flex;
  width: 100%;
  max-width: 1020px;
  height: 728px;  
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
  background-color: #f2f2f2;
}

.about-us__title {
  position: relative;
  top: 68px;
  left: 40px;
}

.about-us__description {
  position: relative;
  top: 95px;
  left: 40px;
}

.about-us__description-text {
  max-width: 940px;
  height: 57px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato-Light";
  font-weight: 300;
  overflow: hidden;
  text-overflow: clip;
  text-align: justify;
}

.about-us__employees-box {
  max-width: 940px;
  height: 442px;
  display: flex;
  flex-wrap: wrap; 
  position: relative;
  top: 143px;
  left: 40px;  
}

.employee-column {
  display: flex;
  width: calc((100% - 40px)/3);
  /* width: calc(100% - 40px)/3; */
  /* width: 300px; */
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
  /* flex: 1 0 30%; */
  margin-right: 20px;
  /* margin-right: 10px ; */
}

.employee-column:nth-child(3n){
  margin-right: 0px; 
}


.employee-column__photo {
  max-width: 300px;
  max-height: 300px;
  width: 30vw;
  height: 30vw;
  background-size: cover;
  background-repeat: no-repeat;
  /* width: 100%;
  height: 100%; */
  /* width: 300px;
  height: 300px; */
}

.first-photo {
  background-image: url("./assets/img/pictures/employee-1-аdam-jensen.png");
}

.second-photo {
  background-image: url("./assets/img/pictures/employee-2-desmond-miles.png");
}

.third-photo {
  background-image: url("./assets/img/pictures/employee-3-scolara-visari.png");
}

.employee-column__name {
  width: 300px;
  position: relative;
  top: 17px;
  left: -1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
}

.employee-column__name-text {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato-Black";
  font-weight: 900;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
}

.employee-column__about {
  position: relative;
  top: 27px;
  left: -1px;
}

.employee-column__about-text {
  width: 100%;
  height: 100%;
  /* width: 300px;
  height: 91px; */
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato-Regular";
  font-weight: 400;
  text-align: justify;
}

.employee-column__social-contacts {
  display: flex;
  width: 152px;
  justify-content: space-between;
  margin-top: 13%;
  /* position: relative;
  top: 1px;
  left: 1px; */
}

.social-contact-item {
  width: 8vw;
  height: 8vw;   
  background-repeat: no-repeat;  
}

.social-contact-item:hover {
  cursor: pointer;  
  opacity: 0.5;
}

.employee-column__facebook {
  background-image: url("./assets/img/icon/Facebook.svg");
}

.employee-column__google {
  background-image: url("./assets/img/icon/Google.svg");
}

.employee-column__twitter {
  background-image: url("./assets/img/icon/Twitter.svg");
}

.employee-column__linkedin {
  background-image: url("./assets/img/icon/LinkedIn.svg");
}

.about-us__bottom {
  background-color: #ffffff;
}

.get-a-quote__head {
  display: flex;
  width: 100%;
  max-width: 1020px;  
  height: 648px;  
  flex-direction: column;
  align-content: center;
  align-items: flex-start;  
  background-color: #f06c64;
} 

.get-a-quote__title {
  position: relative;
  top: 68px;
  left: 40px;
}

.get-a-quote__h2 {
  color: #f0d8d9;
}

.get-a-quote__description {
  position: relative;
  top: 95px;
  left: 40px;
}

.get-a-quote__description-text {
  max-width: 940px;
  height: 57px;
  font-size: 18px;
  line-height: 30px;
  color: #f0d8d9;
  font-family: "Lato-Light";
  font-weight: 300;  
  overflow: hidden;
  text-overflow: clip;
  text-align: justify;
}

.get-a-quote__feedback {
  display: flex;
  max-width: 940px;
  width: 92vw;
  position: relative;
  top: 142px;
  left: 40px;
  justify-content: space-between;  
}

.feedback-form {
  display: flex;  
  max-width: 619px;
  max-height: 418px;
  height: 39vw;
  /* height: 418px; */
  flex-direction: column;
  align-content: center;
  align-items: left;
  justify-content: space-between;
  flex-basis: 60%; 
}

.form-input {
  /* max-width: 604px;
  max-width: 38px; */
  padding-left: 15px;  
  border-radius: 5px;
  background-color: #d6564f;
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-family: "Lato-Regular";
  font-weight: 400;
  text-align: justify;
}

.form-input::placeholder {
  color: #f48c8f;
}

.feedback-form__textarea {  
  /* max-width: 604px;
  max-width: 195px; */
  padding-top: 7px;
  padding-left: 15px;
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-family: "Lato-Regular";
  font-weight: 400;
  text-align: left;
  border-radius: 5px;
  background-color: #d6564f;
  resize: none;
  text-align: justify;
}

.feedback-form__textarea::placeholder {
  color: #f48c8f;
}

.feedback-form__submit {
  width: 65px;
}

.feedback-form__submit:hover {
  cursor: pointer;
}

.contact-information {
  display: flex;
  max-width: 300px;
  flex-direction: column;
  align-content: center;
  align-items: left;
  flex-basis: 35%;

}

.contact-information__title-text {
  font-size: 18px;
  line-height: 18px;
  color: #f0d8d9;  
  font-family: "Lato-Black";
  font-weight: 900;
  text-align: justify;
}

.contact-information__description {
  position: relative;
  top: 10px;  
  width: 300px;
  height: 110px;
}

.contact-information__description-text {  
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato-Regular";
  font-weight: 400;
  text-align: justify;
}

.contact-data {
  display: flex;
  height: 55px; 
  flex-direction: column;
  align-content: center;
  align-items: left;
  justify-content: space-between;
}

.contact-data__item {
  display: flex;
}

.contact-data__icon {
  width: 13px;
  height: 11px;
  position: relative;
  top: 13px;
  background-repeat: no-repeat;
  background-position: center;
}

.contact-data-address {
  background-image: url("./assets/img/icon/location_icon.svg");
}

.contact-data-phone {
  background-image: url("./assets/img/icon/phone_icon.svg");
}

.contact-data-email {
  background-image: url("./assets/img/icon/email_icon.svg");
}

.contact-data__info {
  position: relative;
  left: 11px 
}

.contact-data__info-address { 
  top: 8px;  
}

.contact-data__info-phone,
.contact-data__info-email { 
  top: 7px;  
}

.data-text {
  color: #f0d8d9;
}

.data-text:hover {
  color: #55da48;
  cursor: pointer;  
  opacity: 0.5;
}

.contact-data__info-text {
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato-Regular";
  font-weight: 400;
  text-align: justify;
}

.get-a-quote__bottom {
  background-color: #ea676b;
}

.block-bottom {
  width: 100%;
  max-width: 1020px;
  height: 6px;
}

/***  footer  ***/

.footer-wrapper{
  display: flex;
  flex-direction: row;
  height: 76px;
  justify-content: space-between;
  background-color: #2d303a;
}

.footer__copyright {
  margin-left: 42px; 
}

.footer__copyright-text {
  font-size: 12px;
  line-height: 22px;
  color: #666d89;
  font-family: "Lato-Regular";
  font-weight: 400;
  text-align: justify;
}

.footer__social-contacts {
  display: flex;
  width: 152px;
  height: 32px;
  margin-right: 41px;
  align-content: center;
  align-items: left;
  justify-content: space-between;
}

.social-contact-item {
  width: 34px;
  height: 34px;
  position: relative;
  top: -1px;
}

.footer__facebook {   
  background-image: url("./assets/img/icon/Facebook.svg");
}

.footer__google { 
  left: 1px;
  background-image: url("./assets/img/icon/Google.svg");
}

.footer__twitter {  
  left: 2px;
  background-image: url("./assets/img/icon/Twitter.svg");
}

.footer__linkedin { 
  left: 3px;
  background-image: url("./assets/img/icon/LinkedIn.svg");
}

.social-contact-item:hover {
  cursor: pointer;  
  opacity: 0.5;
}

.anchor {
  display: block;
  position: relative;
  top: -89px;
  visibility: hidden;
}

/***  modal-popup  ***/

.modal {  
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(240, 216, 217, 0.8);
}

.modal_hidden {
  display: none;
}

.modal_visible {
  display: flex;
}

.modal-popup {
  display: flex;
  flex-direction: column;
  width: 30%; 
  max-height: 20%;   
  margin: 250px auto;
  padding: 5px;
  background-color: rgb(244, 140, 143);   
}

.modal-info {  
  font-size: 18px;
  line-height: 30px;
  color: #f0d8d9;
  font-family: "Lato-Light";
  font-weight: 300;
  overflow: hidden;
  text-overflow: clip;
  text-align: justify;
}

.modal-popup__result,
.modal-popup__subject-text {
  height: 32px;
}

.modal-popup__message-text {
  max-height: 144px;
}

@media (max-width: 1019px) {
  .services__description-text {
    max-width: 687px;
    height: 99px;
  }
  
  .services__head {
    height: 674px;    
  }

  .portfolio__description-text {
    max-width: 695px;
    height: 60px;    
  }

  .portfolio__column-item {
    margin: 6px 20px 10px 0px;    
    flex: 1 0 30%;    
  }

  .portfolio__column-item:nth-child(4n){
    margin: 6px 20px 10px 0px; 
  }

  .portfolio__column-item:nth-child(3n){
    margin: 6px 0px 10px 0px; 
  }

  .employee-column {
    width: calc((100% - 120px)/3);
  }

  .about-us__description-text {
    max-width: 688px;
    height: 100px;
  }
  
  .get-a-quote__description-text {
    max-width: 689px;
    height: 96px;
  }

  .contact-information {
    max-width: 221px;
  }

  .feedback-form {
    max-width: 442px;
  }

  .feedback-form {
    display: flex;
    height: 47vw;   
    flex-direction: column;
    align-content: center;
    align-items: left;
    justify-content: space-between;  
  }

  .feedback-form__submit {
    width: 100%;
  }

  .contact-information__description {
    position: relative;
    top: 10px;  
    width: 100%;
    height: 110px;
  }

  .contact-data {
    margin-top: 9%;
  }

  .footer__copyright-text {
    display: none;
  }

  .footer__social-contacts {
   margin: auto;
  }
}

@media (max-width: 767px) {
  .services__description-text {
    max-width: 314px;
    height: 214px;
  }

  .services__head {
    height: 1032px;    
  }

  .portfolio__description-text {
    max-width: 315px;
    height: 96px;    
  } 

  .portfolio__column-item {
    margin: 6px 20px 10px 0px;    
    flex: 1 0 30%;    
  }

  .portfolio__column-item:nth-child(4n){
    margin: 6px 20px 10px 0px; 
  }

  .portfolio__column-item:nth-child(3n){
    margin: 6px 20px 10px 0px; 
  }

  .portfolio__column-item:nth-child(2n){
    margin: 6px 0px 10px 0px; 
  }

  .portfolio__column-item:nth-child(n+9){
    display: none;
  }

  .about-us__description-text {
    max-width: 315px;
    height: 220px;
  }

  .get-a-quote__description-text {
    max-width: 314px;
    height: 214px;
  }

  .get-a-quote__feedback {
    flex-wrap: wrap;
  }

  .contact-information {
    max-width: 315px;
  }
}

@media (max-width: 319px) {
  .services__description-text {
    max-width: 200px;
    height: 400px;

  }

}
