@import "./fonts.css";

* {
	padding: 0;
	margin: 0;
	border: 0;
}

.wrapper {
  display: flex;
  width: 1020px;
  margin: 0 auto;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

/***  header  ***/

.header__head {
  width: 1020px;  
  height: 89px;
  background-color: #2d303a;
  display: flex;
}

.h1 {
  width: 1px;
  height: 1px;
  font-size: 1px;
  color: #2d303a;
}
  
.logo {
  font-size: 25px;
  line-height: 6px;  
  font-family: "Lato-Bold";
  font-weight: 700;
  text-transform: uppercase;
}

.logo-text {
  position: relative;
  margin-left: 37px;
  margin-top: 40px;
  color: #ffffff;
}

.logo-text:hover {
  cursor: pointer;
}

.asterisk {
  color: #f06c64;
}

.navigation {
  padding-left: 436px;
  padding-top: 32px;
}

.main-menu {
  display: flex;
  padding: 15px;
  font-size: 12px;
  line-height: 6px; 
  font-family: "Lato-Bold";
  font-weight: 700;
  text-transform: uppercase;
}

li {  
  list-style-type: none;
  display: flex;
}

a { 
  text-decoration: none;  
}

.point {
  width: 3px;
  height: 3px;
  margin: 3px 13px ;
  border-radius: 50%;
  background-color: #494e62;  
}

.link-home {
  color: #f06c64;
}

.link-services,
.link-portfolio,
.link-about,
.link-contact {
  color: #ffffff;
}

a:hover {
  text-decoration: underline; 
  color: #f06c64;
}

.header__bottom {  
  background-color: #323746;
}

.block-bottom {
  width: 1020px;
  height: 6px;
}

/***  slider  ***/

.slider__head {
  display: flex;
  width: 1020px;
  height: 594px;
  background-color: #f06c64;
}

.arrow {
  width: 16px;
  height: 27px;
  margin-top: 281px;  
  background-image: url("./assets/img/pictures/chev.png");
}

.arrow:hover {
  cursor: pointer;
  opacity: 0.5;
}

.arrow_left {
  margin-left: 42px;
}

.phone {
  width: 218px;
  height: 461px;
  z-index: 100;
  background-image: url("./assets/img/pictures/cam.png");
}

.phone_vertical {
  margin-top: 52px;
  margin-left: 52px;   
}

.slider__frame {
  width: 188px;
  height: 333px;
  position:relative;
  overflow:hidden;
}

.vertical-frame {  
  top: 66px;
  left: 16px; 
}

.img-vertical-screen {
  position:relative;
  top: -135px;
  left: -14px;
}

.phone-shadow {
  width: 240px;
  height: 483px;
  z-index: 50;
  position:relative;  
  background-image: url("./assets/img/pictures/phone-shadow.png");
}

.phone-shadow_vertical {
  top: 53px;
  left: -216px;
}

.phone_horizontal {
  margin-top: 50px;
  margin-left: -24px;  
  transform: rotate(90deg);
}

.horizontal-frame {
  top: 66px;
  left: 16px;
}

.img-horizontal-screen {
  position:relative;
  top: -122px;
  left: -119px;
  transform: rotate(-90deg);
}

.phone-shadow_horizontal {
  top: 53px;
  left: -216px;
  transform: scale(1, -1) rotate(90deg);
}

.arrow_right {
  margin-left: -38px;
  transform: rotate(180deg);
}

.slider__bottom {
  background-color: #ea676b;
}

/***  services  ***/

.services__head {
  width: 1020px;
  height: 494px;
  display: flex;
  flex-direction: column;
  align-content:center;
  align-items: flex-start;
  background-color: #f2f2f2;
}

.services__title {
  position:relative;
  top: 68px;
  left: 40px;
}

.h2 {
  font-size: 30px;
  line-height: 18px; 
  font-family: "Lato-Black";
  font-weight: 900;
  text-align: left;
}

.services__h2 {
  color: #666d89;
}

.services__description {
  position:relative;
  top: 95px;
  left: 40px;
}

.services__description-text {
  width: 940px;
  height: 57px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato-Light";
  font-weight: 300;
  overflow: hidden;
  text-overflow: clip;
  text-align: justify;
}

.advantages-section {
  position:relative;
  top: 143px;
  left: 41px;
}

.three-columns {
  display: flex;
}

.advantage-box {
  display: flex;
 }

.advantage-box__icon {
  width: 59px;
  height: 59px;
  margin-top: 2px; 
}

.advantage-box__icon:hover {
  cursor: pointer;
  opacity: 0.5;
}

.advantage-box__title { 
  margin-left: 20px;  
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato-Black";
  font-weight: 900; 
}

.advantage-box__text {
  width: 219px;
  height: 60px;
  margin-top: 10px;
  margin-left: 20px; 
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato-Regular";
  font-weight: 400;
  overflow: hidden;
  text-overflow: clip;
  text-align: justify;
}

.icon_pen {  
  background-image: url("./assets/img/icon/1-bg-pen.svg");
}

.icon_phone {  
  background-image: url("./assets/img/icon/2-bg-phone.svg");
}

.icon_bulb {  
  background-image: url("./assets/img/icon/3-bg-bulb.svg");
}

.icon_bubble { 
  background-image: url("./assets/img/icon/4-bg-bubble.svg");
}

.icon_heart { 
  background-image: url("./assets/img/icon/5-bg-heart.svg");
}

.icon_star {  
  background-image: url("./assets/img/icon/6-bg-star.svg");
}

.advantage-box_bottom {
  margin-top: 35px; 
}

.advantages-column_center {
  margin-left: 21px;
}

.advantages-column_right {
  margin-left: 22px;
}

.services__bottom {
  background-color: #ffffff;
}

.portfolio__head {
  display: flex;
  width: 1020px;
  height: 863px;  
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
  background-color: #2d303a;
}

.portfolio__title {
  height: 17px;
  position: relative;
  top: 69px;
  left: 40px;
}

.portfolio__h2,
.about-us__h2 {
  color: #666d89;
}

.portfolio__description {
  position: relative;
  top: 96px;
  left: 40px;
}

.portfolio__description-text {
  width: 940px;
  height: 57px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato-Light";
  font-weight: 300;
  overflow: hidden;
  text-overflow: clip;
  text-align: justify;
}

.portfolio__buttons {
  display: flex;
  width: 287px;
  height: 22px;
  position: relative;
  top: 80px;
  left: 41px;
  justify-content: space-between; 
}

.input {  
  padding-left: 7px;
  padding-right: 6px; 
  font-size: 12px;
  line-height: 20px;
  color: #767e9e;
  font-family: "Lato-Regular";
  font-weight: 400;    
  background-color: #2d303a;
  border: 1px solid #767e9e;
  border-radius: 5px;
}

.input-all {    
  color: #c5c5c5;
  border: 1px solid #c5c5c5;
}

.input:hover {
  cursor: pointer;  
  color: #c5c5c5;
  border: 1px solid #c5c5c5;
}

.input:focus {
  outline: 0;
}

.portfolio__section {
  width: 940px;
  height: 601px;
  display: flex;
  position: relative;
  top: 99px;
  left: 40px;
  justify-content: space-between;
  overflow: hidden;
}

.portfolio__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.portfolio__column-item {  
  width: 220px;
  height: 187px; 
  overflow: hidden;
}

.first-column-first-item {
  background-position-x: -8px;
  background-position-y: -11px; 
  background-image: url("./assets/img/pictures/1-first-column-first-item.png");
}

.first-column-second-item {
  background-position-x: -10px;
  background-position-y: -16px;
  background-image: url("./assets/img/pictures/2-first-column-second-item.png");
}

.first-column-third-item {
  background-position-x: -16px;
  background-position-y: -2px;
  background-image: url("./assets/img/pictures/3-first-column-third-item.png");
}

.second-column-first-item {
  background-position-x: -82px;
  background-position-y: -43px;
  background-image: url("./assets/img/pictures/4-second-column-first-item.png");
}

.second-column-second-item {
  background-position-x: -16px;
  background-position-y: -4px;
  background-image: url("./assets/img/pictures/5-second-column-second-item.png");
}

.second-column-third-item {
  background-position-x: -141px;
  background-position-y: -113px;
  background-image: url("./assets/img/pictures/6-second-column-third-item.png");
}

.third-column-first-item {
  background-position-x: -11px;
  background-position-y: -1px;
  background-image: url("./assets/img/pictures/7-third-column-first-item.png");
}

.third-column-second-item {
  background-position-x: -31px;
  background-position-y: -39px;
  background-image: url("./assets/img/pictures/8-third-column-second-item.png");
}

.third-column-third-item {
  background-position-x: -144px;
  background-position-y: 237px;
  background-image: url("./assets/img/pictures/9-third-column-third-item.png");
}

.fours-column-first-item {
  background-position-x: -24px;
  background-position-y: -2px;
  background-image: url("./assets/img/pictures/10-fours-column-first-item.png");
}

.fours-column-second-item {
  background-position-x: -24px;
  background-position-y: -32px;  
  background-image: url("./assets/img/pictures/11-fours-column-second-item.png");
}

.fours-column-third-item {
  background-position-x: -36px;
  background-position-y: -60px; 
  background-image: url("./assets/img/pictures/12-fours-column-third-item.png");
}

.portfolio__column:nth-child(n+5){
  display: none;
}

.portfolio__column-item:nth-child(n+4){
  display: none;
}

.portfolio__bottom {  
  background-color: #323746;
}

.block-bottom {
  width: 1020px;
  height: 6px;
}

/***  about-us  ***/

.about-us__head {
  display: flex;
  width: 1020px;
  height: 728px;  
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
  background-color: #f2f2f2;
}

.about-us__title {
  position: relative;
  top: 68px;
  left: 40px;
}

.about-us__description {
  position: relative;
  top: 95px;
  left: 40px;
}

.about-us__description-text {
  width: 940px;
  height: 57px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato-Light";
  font-weight: 300;
  overflow: hidden;
  text-overflow: clip;
  text-align: justify;
}

.about-us__employees-box {
  width: 940px;
  height: 442px;
  position: relative;
  top: 143px;
  left: 40px;  
}

.three-columns {
  display: flex;
  justify-content: space-between;
}

.employee-column {
  display: flex;
  width: 300px;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
}

.employee-column__photo {
  width: 300px;
  height: 300px;
}

.first-photo {
  background-image: url("./assets/img/pictures/employee-1-аdam-jensen.png");
}

.second-photo {
  background-image: url("./assets/img/pictures/employee-2-desmond-miles.png");
}

.third-photo {
  background-image: url("./assets/img/pictures/employee-3-scolara-visari.png");
}

.employee-column__name {
  width: 300px;
  position: relative;
  top: 17px;
  left: -1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
}

.employee-column__name-text {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato-Black";
  font-weight: 900;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
}

.employee-column__about {
  position: relative;
  top: 27px;
  left: -1px;
}

.employee-column__about-text {
  width: 300px;
  height: 91px;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato-Regular";
  font-weight: 400;
  text-align: justify;
}

.employee-column__social-contacts {
  display: flex;
  width: 152px;
  justify-content: space-between;
  position: relative;
  top: 1px;
  left: 1px;
}

.social-contact-item {
  width: 34px;
  height: 34px;  
}

.social-contact-item:hover {
  cursor: pointer;  
  opacity: 0.5;
}

.employee-column__facebook {
  background-image: url("./assets/img/icon/Facebook.svg");
}

.employee-column__google {
  background-image: url("./assets/img/icon/Google.svg");
}

.employee-column__twitter {
  background-image: url("./assets/img/icon/Twitter.svg");
}

.employee-column__linkedin {
  background-image: url("./assets/img/icon/LinkedIn.svg");
}

.about-us__bottom {
  background-color: #ffffff;
}

.get-a-quote__head {
  display: flex;
  width: 1020px;  
  height: 648px;  
  flex-direction: column;
  align-content: center;
  align-items: flex-start;  
  background-color: #f06c64;
} 

.get-a-quote__title {
  position: relative;
  top: 68px;
  left: 40px;
}

.get-a-quote__h2 {
  color: #f0d8d9;
}

.get-a-quote__description {
  position: relative;
  top: 95px;
  left: 40px;
}

.get-a-quote__description-text {
  width: 940px;
  height: 57px;
  font-size: 18px;
  line-height: 30px;
  color: #f0d8d9;
  font-family: "Lato-Light";
  font-weight: 300;  
  overflow: hidden;
  text-overflow: clip;
  text-align: justify;
}

.get-a-quote__feedback {
  display: flex;
  width: 940px;
  position: relative;
  top: 142px;
  left: 40px;
  justify-content: space-between; 
}

.feedback-form {
  display: flex;
  width: 619px;
  height: 418px;
  flex-direction: column;
  align-content: center;
  align-items: left;
  justify-content: space-between;
}

.form-input {
  width: 604px;
  height: 38px;
  padding-left: 15px;  
  border-radius: 5px;
  background-color: #d6564f;
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-family: "Lato-Regular";
  font-weight: 400;
  text-align: justify;
}

.form-input::placeholder {
  color: #f48c8f;
}

.feedback-form__textarea {  
  width: 604px;
  height: 195px;
  padding-top: 7px;
  padding-left: 15px;
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-family: "Lato-Regular";
  font-weight: 400;
  text-align: left;
  border-radius: 5px;
  background-color: #d6564f;
  resize: none;
  text-align: justify;
}

.feedback-form__textarea::placeholder {
  color: #f48c8f;
}

.feedback-form__submit {
  width: 65px;
}

.feedback-form__submit:hover {
  cursor: pointer;
}

.contact-information {
  display: flex;
  width: 300px;
  flex-direction: column;
  align-content: center;
  align-items: left;
}

.contact-information__title-text {
  font-size: 18px;
  line-height: 18px;
  color: #f0d8d9;  
  font-family: "Lato-Black";
  font-weight: 900;
  text-align: justify;
}

.contact-information__description {
  position: relative;
  top: 10px;  
  width: 300px;
  height: 110px;
}

.contact-information__description-text {  
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato-Regular";
  font-weight: 400;
  text-align: justify;
}

.contact-data {
  display: flex;
  height: 55px; 
  flex-direction: column;
  align-content: center;
  align-items: left;
  justify-content: space-between;
}

.contact-data__item {
  display: flex;
}

.contact-data__icon {
  width: 13px;
  height: 11px;
  position: relative;
  top: 13px;
  background-repeat: no-repeat;
  background-position: center;
}

.contact-data-address {
  background-image: url("./assets/img/icon/location_icon.svg");
}

.contact-data-phone {
  background-image: url("./assets/img/icon/phone_icon.svg");
}

.contact-data-email {
  background-image: url("./assets/img/icon/email_icon.svg");
}

.contact-data__info {
  position: relative;
  left: 11px 
}

.contact-data__info-address { 
  top: 8px;  
}

.contact-data__info-phone,
.contact-data__info-email { 
  top: 7px;  
}

.data-text {
  color: #f0d8d9;
}

.data-text:hover {
  color: #55da48;
  cursor: pointer;  
  opacity: 0.5;
}

.contact-data__info-text {
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato-Regular";
  font-weight: 400;
  text-align: justify;
}

.get-a-quote__bottom {
  background-color: #ea676b;
}

.block-bottom {
  width: 1020px;
  height: 6px;
}

/***  footer  ***/

.footer-wrapper{
  display: flex;
  flex-direction: row;
  height: 76px;
  justify-content: space-between;
  background-color: #2d303a;
}

.footer__copyright {
  margin-left: 42px; 
}

.footer__copyright-text {
  font-size: 12px;
  line-height: 22px;
  color: #666d89;
  font-family: "Lato-Regular";
  font-weight: 400;
  text-align: justify;
}

.footer__social-contacts {
  display: flex;
  width: 152px;
  height: 32px;
  margin-right: 41px;
  align-content: center;
  align-items: left;
  justify-content: space-between;
}

.social-contact-item {
  width: 34px;
  height: 34px;
  position: relative;
  top: -1px;
}

.footer__facebook {   
  background-image: url("./assets/img/icon/Facebook.svg");
}

.footer__google { 
  left: 1px;
  background-image: url("./assets/img/icon/Google.svg");
}

.footer__twitter {  
  left: 2px;
  background-image: url("./assets/img/icon/Twitter.svg");
}

.footer__linkedin { 
  left: 3px;
  background-image: url("./assets/img/icon/LinkedIn.svg");
}

.social-contact-item:hover {
  cursor: pointer;  
  opacity: 0.5;
}
